<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Live Chat</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

</head>
<body>
	<div id="chats"></div>
			<form action="/localchat" method="POST">
				<fieldset>
					<input type="text" placeholder="Type your message here!" autofocus>
					<input type="hidden">
				</fieldset>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="chat.js"></script>
	
</body>
</html>